{% extends 'app/base.html' %}
{% load my_filter %}
{% block title %} Profile {% endblock title %}

{% block content %}
	<div class="container">
		<h1 class="alert alert-danger text-center mt-3">Candidate Details</h1>
		<div class="row">
			<div class="col-sm-10 offset-1 border rounded  p-5">
				<h3 class="text-center m-3"><u>Resume</u></h3>
				<p class="float-end">Application No. {{candidate.id}}</p>
				<img src="{{candidate.profile_img.url}}" alt="profile" class="img-fluid img-thumbnail float-end mt-4" width="150", height="150">
				<p>Name: {{candidate.name}}</p>
				<p>Date of Birth: {{candidate.dob}}</p>
				<p>Gender: {{candidate.gender}}</p>
				<p>Address: {{candidate.locality}}, {{candidate.city}}, {{candidate.state}} - {{candidate.pin}}</p>
				<p>Email ID: {{candidate.email}}</p>
				<p>Preferred Job Locations: {{candidate.job_city | remove_special:"[]'"}}</p>
				<p>Attachment: <a href="{{candidate.file.url}}">Download file</a></p>
				<div class="text-center">
				<a href="/" class="btn btn-danger">Back</a>
			</div>
			</div>
			
		</div>
	</div>
{% endblock content %}